################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/obj/Debug
/Logs
/Library
/GPU-Voronoi-Noise.sln
/Assembly-CSharp.csproj
/.vs/GPU-Voronoi-Noise/v16
